.box{
    height: 17rem;
    width:15rem;
    border:1px solid black;
}

.wchescontainer{
    display: flex;
    justify-content: center;

}
.buy{
    width:15rem;
    margin-top: 1rem;
    background-color: yellow;
    border-color: yellow;
}

.wcontainer{
    margin-top: 5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.text-desc{
    width:15rem
}
.cart{
    height: 3rem;
    width:3rem;
}
.descri{
    margin-left: 1rem;
}